.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.btnY{
    display: none   ;
}
input {
    outline: none;
    display:block;
    width:300px;
    height:32px;   
    border:2px solid #f6f6f6;
    margin: 0px;
    text-align: center;
}
input:active{
    
  border:2px solid #f6f6f6;
}
button{
    height:30px;
    color: aliceblue;
    margin-top: 0px;
    width:100%;
    background-color: darkcyan;
    border-radius: 0px 0px 10px 10px ;
}
.contenedor-de-tareas{
    display:flex;
    width:100%;
    background-color:palegoldenrod ;
    border-radius:10px;
    justify-content: space-between;
    margin-top: 20px;
}
p{
    margin-left: 25px;
}
.uno{
    display: flex;
    margin-right: 15px;
}
.lista-de-tareas{
    width:100%;
    border-radius:10px; 
    margin-top: 20px;
}
i{
    cursor: pointer;
    margin: 0px 20px;
}
.template{
    display: block;
}
h3{
    display:flex;
    justify-content: space-between;
}
.null{
    background-color: palegoldenrod ;
    text-align: center;
    height:59.5px;
    border-radius:10px; 
    box-sizing: border-box;
    padding-top: 20px;
}
.fas , .fast{
    border-radius: 100px;
    margin-right: 10px;
    border: transparent;
    width: 65px; 
}
.hecho{
    display:flex;
    width:100%;
   
    border-radius:10px;
    justify-content: space-between;
    margin-top: 20px;
}